<p>You got a new contact request.</p>
<p>
Contact details<br>
--------------------------
</p>
<p>Name: <%= @contact.first_name + " " + @contact.last_name %></p>
<p>Email: <%= @contact.email %></p>
<p>Phone: <%= @contact.phone %></p>
<p>
Message:<br>
</p>
<p><%= @contact.message %></p>